{
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": [
        "*.html",
        "*.vue"
      ],
      "options": {
        "printWidth": 9999
      }
    },
    {
      "files": [
        "*.js",
        "*.jsx",
        "*.ts",
        "*.tsx"
      ],
      "options": {
        "printWidth": 120
      }
    }
  ]
}